@charset "utf-8";
/* CSS Document */

.text{
	height:25px;
	width:250px;
	border-radius: 0 5px 0 5px;
	-o-border-radius: 0 5px 0 5px;
}
.password{
	height:25px;
	width:250px;
	border-radius: 0 5px 0 5px;
	-ms-border-radius: 0 5px 0 5px;
	-webkit-border-radius: 0 5px 0 5px;
	-moz-border-radius: 0 5px 0 5px;
	-o-border-radius: 0 5px 0 5px;
}
.search{
	height:35px;
	width:400px;
	padding:0px;
	margin:0px;
	border-radius: 0 5px 0 5px;
	-ms-border-radius: 0 5px 0 5px;
	-moz-border-radius: 0 5px 0 5px;
	-webkit-border-radius: 0 5px 0 5px;
	-o-border-radius: 0 5px 0 5px;
}
.textarea{
	width:247px;
	border-radius: 0 5px 0 5px;
	resize:none;
	-moz-border-radius: 0 5px 0 5px;
	-webkit-border-radius: 0 5px 0 5px;
	-ms-border-radius: 0 5px 0 5px;
	-o-border-radius: 0 5px 0 5px;
}
td{
	vertical-align:top;
}
.select{
	height:30px;
	width:253px;
	border-radius: 0 5px 0 5px;
	-moz-border-radius: 0 5px 0 5px;
	-webkit-border-radius: 0 5px 0 5px;
	-ms-border-radius: 0 5px 0 5px;
	-o-border-radius: 0 5px 0 5px;
}

input[type=submit]{
	background-color:#F60; 
	height:40px;
	 border-color:#3cF; 
	 border:0px;
	  color:#FFF;
	   font-size:16px;
	   cursor:pointer;
	    font-family:'Bodoni MT', 'Bodoni MT Black', 'Bodoni MT Condensed', 'Bodoni MT Poster Compressed'
}
a{
	text-decoration:none;
	cursor:pointer;
}